
<%- include('./partials/head') %>

<nav class="menu" tabindex="0">
	<div class="smartphone-menu-trigger"></div>
  <header class="avatar">
		<img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" />
    <h2>John D.</h2>
  </header>
	<ul>
    <li tabindex="0" class="icon-dashboard"><span>Dashboard</span></li>
    <li tabindex="0" class="icon-customers"><span>Register New Patient</span></li>
    <a href="/patientHistory"><li tabindex="0" class="icon-users"><span>Look up Patient Profile</span></li></a>
    <li tabindex="0" class="icon-settings"><span>Prescribe new Medicine</span></li>
    <li tabindex="0" class="icon-settings"><span>View/Edit Profile</span></li>
    <a href="/"><li tabindex="0" class="icon-settings"><span>Log out</span></li></a>
    
  </ul>
</nav>

<main>
 
</main>


<%- include('./partials/end') %>