<%- include('./partials/head') %>

<div class="screen">
    <div class="filter"></div>
   
    <h1 class="logo">AHIS</h1>
    
    <p class="desc">Afghanistan Health Information System</p>
    
    <div class="signInInfo">


      <form>
        <input type="email" placeholder="Username"/>
        <input type="password" placeholder="Password"/>
      </form>
    </div>
    
    <a href="/docPortal"><button class="signInButton" type="button">Sign In</button></a>
    <p class="signup">Don't Have An Account? <span><a id="reg" href="/docRegistration">Register Today!</a></span></p>
    
  </div>





<%- include('./partials/end') %>
