<%- include('./partials/head') %>
<div class="container">
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Prescription ID</th>
        <th scope="col">Prescriber</th>
        <th scope="col">Prescription Date</th>
        <th scope="col">Fullfilment Date</th>
        <th scope="col">Medication & Direction </th>
        <th scope="col">Visiting Reason</th>
        <th scope="col">Fullfilment No</th>



     </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
       
        <td>Dr. James</td>
        <td>Feb 10, 2020</td>
        <td>Feb 11, 2020</td>
        <td>Ibuprofen 200mg/take 3 a day</td>
        <td>Headache</td>
        <td>1</td>


      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Dr. Ahmad</td>
        <td>Feb 9, 2020</td>
        <td>Feb 10, 2020</td>
        <td>Actominophen 200mg/take 3 a day</td>
        <td>IDK</td>
        <td>12</td>

      </tr>
    
    </tbody>
  </table>
  
</div>



  <%- include('./partials/head') %>
